[submodule "addons/app"]
	path = addons/app
	url = ../wex-addon-app.git
[submodule "addons/docker"]
	path = addons/docker
	url = ../wex-addon-docker.git
[submodule "addons/language"]
	path = addons/language
	url = ../wex-addon-language.git
[submodule "addons/prompt"]
	path = addons/prompt
	url = ../wex-addon-prompt.git
[submodule "addons/services-db"]
	path = addons/services-dbgit submodule update --init --recursive
	url = ../wex-addon-services-db.git
[submodule "addons/services-php"]
	path = addons/services-php
	url = ../wex-addon-services-php.git
[submodule "addons/services-various"]
	path = addons/services-various
	url = ../wex-addon-services-various.git
[submodule "addons/system"]
	path = addons/system
	url = ../wex-addon-system.git
