chromadb
click
gitpython
inquirerpy
jq
langchain>=0.1.14
langchainhub
langchain_cohere
langchain_postgres
langchain-openai
langchain-community
langchain-experimental
openai
psutil
pypdf
python-dotenv
pyyaml
prompt_toolkit
requests
sqlalchemy
unstructured
unstructured[md]