tomli
gitpython<3.1.46
wexample-wex-core
wexample-wex-addon-app
wexample-wex-addon-filestate
wexample-wex-addon-dev-python
wexample-wex-addon-dev-php
wexample-wex-addon-dev-css
wexample-wex-addon-dev-javascript
wexample-wex-addon-services-db
wexample-wex-addon-services-platform
wexample-wex-addon-services-monitoring
wexample-wex-addon-services-collab