chromadb
click
defusedxml
dicttoxml
gitpython
inquirerpy
jq
langchain>=0.1.14
langchainhub
langchain_cohere
langchain_postgres
langchain-openai
langchain-community
langchain-experimental
openai
patch
psutil
pypdf
pyperclip
python-dotenv
pyyaml
prompt_toolkit
psycopg[binary]
requests
sqlalchemy
unstructured
unstructured[md]
validators
wexample-wex-core
wexample-file
wexample-helpers
wexample-helpers-yaml
wexample-prompt