[mysqld]

max_allowed_packet = 1073741824
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Prevent local error on Windows machines
innodb_use_native_aio=0

# Handle memory limits.
innodb_buffer_pool_size = 20M