#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/wex/usr/bin
	ln -s ../lib/wex/bin/wex debian/wex/usr/bin/wex

override_dh_fixperms:
	dh_fixperms
	chmod 0755 debian/wex/usr/lib/wex/bin/wex
	chmod 0755 debian/wex/usr/lib/wex/bin/install
	chmod 0755 debian/wex/usr/lib/wex/bin/uninstall
	chmod 0755 debian/wex/usr/lib/wex/bin/autocomplete
	chmod 0755 debian/wex/usr/lib/wex/bin/autocomplete-handler
	chmod 0755 debian/wex/usr/lib/wex/bin || true
	chmod 0755 debian/wex/usr/lib/wex || true
