services:
  nextcloud:
    container_name: '${RUNTIME_NAME}_nextcloud'
    image: nextcloud:25.0.12
    environment:
      - VIRTUAL_HOST=${GLOBAL_NAME}.wex
      - MARIA_HOST=${SERVICE_MARIA_HOST}
      - MARIA_DATABASE=${SERVICE_MARIA_NAME}
      - MARIA_USER=${SERVICE_MARIA_USER}
      - MARIA_PASSWORD=${SERVICE_MARIA_PASSWORD}
    volumes:
      - ${RUNTIME_PATH_APP}data:/var/www/html
      - ${RUNTIME_PATH_APP}extra-addons:/mnt/extra-addons
      - ${RUNTIME_PATH_APP}config.php:/var/www/html/config/wex.config.php
    extends:
      file: ${RUNTIME_SERVICE_DEFAULT_YML_ENV}
      service: default
