[Unit]
Description=Wexd Daemon
After=network.target

[Service]
ExecStart=/opt/wex/cli/wex wex core::daemon/start
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
